@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('/fonts/AppleSDGothicNeo-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bitcount';
  src: url('/fonts/BitcountGridDouble.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'AppleSDGothicNeo', 'Noto Sans', sans-serif;
}

.Bitcount {
  font-family: 'Bitcount', 'AppleSDGothicNeo', 'Noto Sans', sans-serif;
}
