@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import "tailwindcss";

@import "tailwindcss/theme" layer(theme);

@config "../../../tailwind.config.ts";

@theme {
  --font-family-apple: "AppleSDGothicNeo", "Noto Sans", sans-serif;
  --font-family-bitcount:
    "Bitcount", "AppleSDGothicNeo", "Noto Sans", sans-serif;
}

@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("/fonts/AppleSDGothicNeo-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bitcount";
  src: url("/fonts/BitcountGridDouble.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #171e23;
    --card-bg: #ffffff;
    --card-bg-dark: #171e23;
    --page-width: 75rem;
  }

  .dark {
    --background: #171717;
    --foreground: #ededed;
    --primary: #171e23;
    --card-bg: #171e23;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-family-apple);
    transition:
      background-color 0.3s,
      color 0.3s;
  }

  .Bitcount {
    font-family: var(--font-family-bitcount);
  }

  .card-base {
    overflow: hidden;
    border-radius: 1.5rem;
    background-color: var(--card-bg);
    transition-property:
      color,
      background-color,
      border-color,
      text-decoration-color,
      fill,
      stroke,
      opacity,
      box-shadow,
      transform,
      filter,
      backdrop-filter,
      -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
  }
}
